[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/ghcmod-vim"]
	path = _vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-session"]
	path = _vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
