[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-session"]
	path = _vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/vim_colors"]
	path = _vim/bundle/vim_colors
	url = git://github.com/squil/vim_colors.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/csv.vim"]
	path = _vim/bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule "_vim/bundle/vim-protobuf"]
	path = _vim/bundle/vim-protobuf
	url = git://github.com/uarun/vim-protobuf.git
[submodule "_vim/bundle/vim-makeshift"]
	path = _vim/bundle/vim-makeshift
	url = git://github.com/johnsyweb/vim-makeshift.git
[submodule "_vim/bundle/vim-cycle"]
	path = _vim/bundle/vim-cycle
	url = git://github.com/yihuang/vim-cycle.git
[submodule "_vim/bundle/elm"]
	path = _vim/bundle/elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "_vim/bundle/vimproc"]
	path = _vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "_vim/bundle/vim-indent-guides"]
	path = _vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-extradite"]
	path = _vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "_vim/bundle/tabular"]
	path = _vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/linediff"]
	path = _vim/bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/sparkup"]
	path = _vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/tslime"]
	path = _vim/bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "_vim/bundle/ack.vim"]
	path = _vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/clam.vim"]
	path = _vim/bundle/clam.vim
	url = https://github.com/sjl/clam.vim.git
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "_vim/bundle/vim-easymotion"]
	path = _vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "_vim/bundle/vim-haskellConcealPlus"]
	path = _vim/bundle/vim-haskellConcealPlus
	url = https://github.com/enomsg/vim-haskellConcealPlus.git
[submodule "_vim/bundle/haskell-vim"]
	path = _vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "_vim/bundle/ghcmod-vim"]
	path = _vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "_vim/bundle/vim-hdevtools"]
	path = _vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "_vim/bundle/neco-ghc"]
	path = _vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "_vim/bundle/vim-hoogle"]
	path = _vim/bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule "_vim/bundle/vim-mundo"]
	path = _vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "_vim/bundle/syntax"]
	path = _vim/bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "_vim/bundle/YouCompleteMe"]
	path = _vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/vim-snippets"]
	path = _vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_vim/bundle/h2cppx"]
	path = _vim/bundle/h2cppx
	url = https://github.com/vim-scripts/h2cppx.git
[submodule "_vim/bundle/makeshift"]
	path = _vim/bundle/makeshift
	url = https://github.com/johnsyweb/vim-makeshift.git
[submodule "_vim/bundle/moonscript-vim"]
	path = _vim/bundle/moonscript-vim
	url = https://github.com/leafo/moonscript-vim.git
